.friends__type {
  display: flex;
  border-bottom: 2px solid #ebeef0;
}

.friends__type-list {
  display: block;
}

.item {
  display: block;
  color: #5b7083;
  font-weight: 600;
  padding: 15px 20px;
  transition: .3s;
}

.item:hover {
  background-color: rgba(116,52,94,.1);
  color: #74345e;
  border-bottom: 2px solid #74345e;
}

.active-item {
  background-color: rgba(116,52,94,.1);
  color: #74345e;
  border-bottom: 2px solid #74345e;
}

.friends-notify {
  color: #74345e;
  background: rgba(116,52,94,.1);
  padding: 20px;
}